<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    html {
      font-family: Arial, sans-serif;
      font-size: 10px;
      width: 21cm;
      height: 29.7cm;
    }
    .page {
      page-break-after: always;
    }
    .rotate-90{
      transform: rotate(90deg);
    }

    .rotate-180{
      transform: rotate(180deg);
    }

    .rotate-270{
      transform: rotate(270deg);
    }

    /* Position child elements relative to this element */
    .aspect-ratio-box {
      position: relative;
    }

    /* Create a pseudo element that uses padding-bottom to take up space */
    .aspect-ratio-box::after {
      display: block;
      content: '';
      /* 16:9 aspect ratio */
      padding-bottom: 56.25%;
    }

    /* Image is positioned absolutely relative to the parent element */
    .aspect-ratio-box img {
      /* Image should match parent box size */
      position: absolute;
      left: 0;
      top: 0;
      width: 80%;
      height: 100%;
    }
  </style>
</head>
<body>
  <div class="page">
    <h5>Consulta Preanestesica</h5>
      <div class="card w-50 m-3">
        <div class="card-header bg-transparent border-success">
          Datos del Paciente
        </div>
        <div class="card-body">            
          <div class="from-row">
            <div class="form-group">
              <label>Fecha:</label>
              <label><b><%= data.fechaDeConsulta %></b></label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-6">
              <label>Apellido y Nombre:</label>
              <label><b><%= data.apellidoYNombre %></b></label>
            </div>

            <div class="form-group col-6">
              <label>N° de Documento:</label>
              <label><b><%= data.numeroDeDocumento %></b></label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-6">
              <label>Obra Social:</label>
              <label><b><%= data.obraSocial %></b></label>
            </div>

            <div class="form-group col-6">
              <label>N° de Afiliado:</label>
              <label><b><%= data.numeroAfiliado %></b></label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-2">
              <label>Edad:</label>
              <label><b><%= data.edad %></b></label>
            </div>

            <div class="form-group col-2">
              <label>Peso (kg):</label>
              <label><b><%= data.peso %></b></label>
            </div>

            <div class="form-group col-6">
              <label>Médico de cabecera:</label>
              <label><b><%= data.medicoDeCabecera %></b></label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-6">
              <label>Médico Anestesista:</label>
              <label><b><%= data.medicoAnestesista %></b></label>
            </div>

            <div class="form-group col-6">
              <label>N° de CUIT Anestesista:</label>
              <label><b><%= data.cuitMedicoAnestesista %></b></label>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <label>Cirugía o procedimiento a realizar:</label>
              <label><b><%= data.cirugiaOProcedimientoARealizar %></b></label>
            </div>
          </div>

        </div>

        <div class="card-header bg-transparent border-success">
          Clínica Preoperatorio
        </div>
        <div class="card-body">

          <label>Indique si ha tenido en las últimas semanas:</label>
          <div class="form-row">
            <div class="form-group col-6">
              <label></label>
            </div>
            <div class="form-group col-1">
              <label>Si</label>
            </div>
            <div class="form-group col-1">
              <label>No</label>
            </div>
          </div>

          <%
          let objs_4= [
            {item: 'Tos, catarro, congestion o fiebre', val: data.tosCatarroCongestionOFiebre},
          ];
          %>

          <% for (const v of objs_4) {%>
    
            <div class="form-row">
              <div class="form-group col-6">
                <label><%= v.item %></label>
              </div>
              <% if (v.val) {%>
              <div class="form-group col-1">
                <input class="form-control" checked type="checkbox">
              </div>
              <div class="form-group col-1">
                <input class="form-control" type="checkbox">
              </div>
              <%} else {%>
                <div class="form-group col-1">
                  <input class="form-control" type="checkbox">
                </div>
                <div class="form-group col-1">
                  <input class="form-control" checked type="checkbox">
                </div>
              <%}%>
            </div>
    
          <% } %>

          <div class="form-row">
            <div class="form-group col-12">
              <label>Cirugías anteriores:</label>
              <label><b><%= data.cirugiasAnteriores %></b></label>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-12">
              <label>Antecedentes de alguna enfermedad:</label>
              <label><b><%= data.antecedentesDeAlgunaEnfermedad %></b></label>
            </div>
          </div>
  
  
  
          <div class="form-row">
            <div class="form-group col-6">
              <label></label>
            </div>
            <div class="form-group col-1">
              <label>Si</label>
            </div>
            <div class="form-group col-1">
              <label>No</label>
            </div>
          </div>

          <%
            let objs = [
              {item: 'Arritmias', val: data.arritmias},
              {item: 'Asma', val: data.asma},
              {item: 'EPOC', val: data.epoc},
              {item: 'Escoliosis', val: data.escoliosis},
              {item: 'Fuma', val: data.fuma},
              {item: 'Hipertiroidismo', val: data.hipertiroidismo},
              {item: 'Hipotiroidismo', val: data.hipotiroidismo},
              {item: 'Presión Arterial', val: data.presionArterial},
            ];
          %>
  
          <% for (const v of objs) {%>
  
          <div class="form-row">
            <div class="form-group col-6">
              <label><%= v.item %></label>
            </div>
            <% if (v.val) {%>
            <div class="form-group col-1">
              <input class="form-control" checked type="checkbox">
            </div>
            <div class="form-group col-1">
              <input class="form-control" type="checkbox">
            </div>
            <%} else {%>
              <div class="form-group col-1">
                <input class="form-control" type="checkbox">
              </div>
              <div class="form-group col-1">
                <input class="form-control" checked type="checkbox">
              </div>
            <%}%>
          </div>
  
          <% } %>
  
          <div class="form-row">
            <div class="form-group col-12">
              <label>¿Cuándo dejó de fumar?</label>
              <label><b><%= data.cuandoDejoDeFumar %></b></label>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-12">
              <label>¿Problemas renales?</label>
              <label><b><%= data.problemasRenales %></b></label>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-12">
              <label>Otras enfermedades:</label>
              <label><b><%= data.otrasEnfermedades %></b></label>
            </div>
          </div>
  
        </div>
      </div>
  </div>
  
  <div class="page">
    <div class="card w-50 m-3">

      <div class="card-header bg-transparent border-success">
        Medicación Habitual
      </div>

      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-12">
            <label>Medicación habitual (nombre y hora):</label>
            <label><b><%= data.medicacionHabitual %></b></label>
          </div>
        </div>

        <label>¿Recibe medicación para la sangre?</label>
        <div class="form-row">
          <div class="form-group col-6">
            <label></label>
          </div>
          <div class="form-group col-1">
            <label>Si</label>
          </div>
          <div class="form-group col-1">
            <label>No</label>
          </div>
        </div>

        <%
        let objs_1 = [
          {item: 'AAS', val: data.aas},
          {item: 'Sintrom', val: data.sintrom},
          {item: 'Clexane', val: data.clexane}
        ];
        %>

        <% for (const v of objs_1) {%>
  
          <div class="form-row">
            <div class="form-group col-6">
              <label><%= v.item %></label>
            </div>
            <% if (v.val) {%>
            <div class="form-group col-1">
              <input class="form-control" checked type="checkbox">
            </div>
            <div class="form-group col-1">
              <input class="form-control" type="checkbox">
            </div>
            <%} else {%>
              <div class="form-group col-1">
                <input class="form-control" type="checkbox">
              </div>
              <div class="form-group col-1">
                <input class="form-control" checked type="checkbox">
              </div>
            <%}%>
          </div>
  
          <% } %>

        <div class="form-row">
          <div class="form-group col-12">
            <label>Alergia a medicamentos</label>
            <label><b><%= data.alergiaAMedicamentos %></b></label>
          </div>
        </div>

        <label>¿Tomó alguna vez sin inconvenientes?</label>
        <div class="form-row">
          <div class="form-group col-6">
            <label></label>
          </div>
          <div class="form-group col-1">
            <label>Si</label>
          </div>
          <div class="form-group col-1">
            <label>No</label>
          </div>
        </div>

        <%
        let objs_2 = [
          {item: 'Amoxicilina', val: data.amoxicilina},
          {item: 'Cefalexina', val: data.cefalexina},
          {item: 'Diclofenac', val: data.diclofenac},
          {item: 'Dipirona', val: data.dipirona},
          {item: 'Ibuprofeno', val: data.ibuprofeno}
        ];
        %>

        <% for (const v of objs_2) {%>
  
          <div class="form-row">
            <div class="form-group col-6">
              <label><%= v.item %></label>
            </div>
            <% if (v.val) {%>
            <div class="form-group col-1">
              <input class="form-control" checked type="checkbox">
            </div>
            <div class="form-group col-1">
              <input class="form-control" type="checkbox">
            </div>
            <%} else {%>
              <div class="form-group col-1">
                <input class="form-control" type="checkbox">
              </div>
              <div class="form-group col-1">
                <input class="form-control" checked type="checkbox">
              </div>
            <%}%>
          </div>
  
        <% } %>

        <label>Alergia a algun alimento</label>
        <div class="form-row">
          <div class="form-group col-6">
            <label></label>
          </div>
          <div class="form-group col-1">
            <label>Si</label>
          </div>
          <div class="form-group col-1">
            <label>No</label>
          </div>
        </div>

        <%
        let objs_3= [
          {item: 'Pescado', val: data.pescado},
          {item: 'Huevo', val: data.huevo}
        ];
        %>

        <% for (const v of objs_3) {%>
  
          <div class="form-row">
            <div class="form-group col-6">
              <label><%= v.item %></label>
            </div>
            <% if (v.val) {%>
            <div class="form-group col-1">
              <input class="form-control" checked type="checkbox">
            </div>
            <div class="form-group col-1">
              <input class="form-control" type="checkbox">
            </div>
            <%} else {%>
              <div class="form-group col-1">
                <input class="form-control" type="checkbox">
              </div>
              <div class="form-group col-1">
                <input class="form-control" checked type="checkbox">
              </div>
            <%}%>
          </div>
  
        <% } %>

        <div class="form-row">
          <div class="form-group col-12">
            <label>Alergia a otro alimento:</label>
            <label><b><%= data.alergiaAOtroAlimento %></b></label>
          </div>
        </div>

      </div>

    </div>
    <br>    
    
    <div class="card w-50 m-3">
      <div class="card-header bg-transparent border-success">
        Exámen Físico de la Boca
      </div>
      
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-12">
            <label>¿Apertura bucal es normal?</label>
            <label><b><%= data.aperturaBucalNormal %></b></label>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-12">
            <label>¿Utiliza prótesis dental?</label>
            <label><b><%= data.protesisDental %></b></label>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-12">
            <label>¿Alguna limitación para mover el cuello?</label>
            <label><b><%= data.limitacionParaMoverElCuello %></b></label>
          </div>
        </div>
      </div>
    
    </div>  

  </div>

  <div class="page">
    <div class="card w-50 m-3">
      <div class="card-header bg-transparent border-success">
        Exámen del Médico
      </div>
      
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-12">
            <label>ASA:</label>
            <label><b><%= data.asa %></b></label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label>Observaciones:</label>
            <label><b><%= data.observaciones %></b></label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12">
            <label>Alerta:</label>
            <label><b><%= data.alerta %></b></label>
          </div>
        </div>
    
    </div>    
  </div>

  <% if (fileUrls) { %>

    <% for (const file of fileUrls) { %>
      <div class="page">
        <div class="card w-50 m-3">
          <div class="aspect-ratio-box">
            <img src="<%= file.url %>">
          </div>
        </div>
      </div>
    <% } %>

  <% } %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    let images = document.querySelectorAll('img');
    for (const img of images){
      if (img.naturalWidth > img.naturalHeight){
        img.classList = 'rotate-90';
      }
    }
  </script>
</body>
</html>


